<?xml version="1.0"?>
<launch>
   <node name="floor_transform" pkg="floor_transform" type="floor_transform" output="screen">
      <param name="input_cloud" value="/uos_3dscans"/>
      <param name="output_cloud" value="/floor"/>
      <param name="delta_angle" value="15"/>
      <param name="min_z" value="-0.3"/>
      <param name="max_z" value="0.3"/>
   </node>
</launch>



